// Font Variables
$font-1: 'Montserrat', sans-serif;

// Color Scheme - Basic
$dark: darken(#171439, 5%);
$dark-light: #171439;
$gray: #d4d9e2;
$gray-light: #F4F4F4;
$white: #FFFFFF;

// Color Scheme - Advanced
$red: #ee1848;

$yellow: #ffcc00;

// Other
$border-radius: 4px;